<div class="relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md m-4">
    <div class="p-6">
        <h5
            class="h-14 mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            {{discussion.topic}}
        </h5>
        <p class="h-12 block font-sans text-base font-light text-ellipsis overflow-hidden whitespace-normal">
            {{discussion.description}}
        </p>
    </div>
    <div class="p-6 pt-0">
        <a *ngIf="authService.isUser()" (click)="getDiscussionDetails(discussion._id)"
            class="select-none rounded-lg bg-pink-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            data-ripple-light="true" asp-controller="Discussion" asp-action="Details" asp-route-id="@Model.Id">
            Read More
        </a>
    </div>
    <button *ngIf="authService.isAdmin()" (click)="deleteDiscussion(discussion._id)"
        class="bg-pink-600 text-white hover:bg-pink-700 px-3 py-2 rounded">
        <i class="fa-solid fa-trash"></i>
    </button>
</div>