<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>All games</title>
</head>

<body>
    <div class="flex flex-col">
        <div class="container">
            <div class="my-4">
                <a routerLink="/Game/Create"
                    class="bg-pink-600 text-white py-2 px-4 rounded-md hover:bg-pink-700">Create
                    new game</a>
            </div>
        </div>
        <!-- @if (Model.ViewModels.Count > 0) { -->
        <!-- <div class="flex flex-col-reverse h-full">
            <partial name="_PaginationPartial" model="@Model.PageViewModel" />
        </div> -->
        <div class="w-full flex flex-row flex-wrap justify-content-center">
            <!-- @foreach (var viewModel in Model.ViewModels) {
            <partial name="_GamePartial" model="@viewModel" />
            } -->

            <div *ngFor="let game of games"><app-game-item [game]="game" /></div>
        </div>
        <!-- } else { -->
        <!-- <p>There are no games available.</p> -->
        <!-- } -->
    </div>
</body>

</html>