<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>All games</title>
</head>

<body>
    <div class="flex flex-col">
        <!-- @if (Model.ViewModels.Count > 0) { -->
        <!-- <div class="flex flex-col-reverse h-full">
            <partial name="_PaginationPartial" model="@Model.PageViewModel" />
        </div> -->
        <div class="w-full flex flex-row flex-wrap justify-content-center">
            <!-- @foreach (var viewModel in Model.ViewModels) {
            <partial name="_GamePartial" model="@viewModel" />
            } -->
            <app-game-item />
            <app-game-item />
            <app-game-item />
        </div>
        <!-- } else { -->
        <!-- <p>There are no games available.</p> -->
        <!-- } -->
    </div>
</body>

</html>