<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Guides</title>
</head>

<body>
    <div class="container">
        <div class="flex justfiy-center w-full">
            <div class="my-4">
                <a [routerLink]="['/Guide/Create']"
                    class="bg-pink-600 text-white py-2 px-4 rounded-md hover:bg-pink-700">Create
                    Guide</a>
            </div>
        </div>
        <div class="h-full flex flex-row flex-wrap">
            <div class="flex flex-col-reverse h-full w-full">
                <!-- <partial name="_PaginationPartial" model="@Model.PageViewModel" /> -->
            </div>
            <div class="w-full flex flex-row flex-wrap justify-content-center">
                <div *ngFor="let guide of guides">
                    <app-guide-item [guide]="guide" />
                </div>
            </div>
        </div>
        <!-- <div *ngIf="{guides.length > 0}">
            <p>There are no games available.</p>
        </div> -->
    </div>
</body>

</html>