<div class="mx-6 my-3 h-64 relative flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
    <div class="p-6 h-full">
        <h5
            class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            {{guide.title}}
        </h5>
        <h6
            class="mb-2 block font-sans text-md font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            {{guide.category}}
        </h6>
        <p class="h-12 block font-sans text-base font-light text-ellipsis overflow-hidden whitespace-normal">
            {{guide.description}}
        </p>

        <div class="flex flex-row w-full">
            <div
                class="center relative inline-block select-none whitespace-nowrap rounded-md bg-pink-500 mt-2.5 py-1 px-2 align-baseline font-sans text-xs font-bold uppercase leading-none text-white">
                {{guide.language}}
            </div>

            <div *ngIf="authService.isUser()" class=" flex flex-row-reverse w-full">
                <button (click)="getGameDetails(guide._id)" class=" !font-medium !text-blue-gray-900 !transition-colors
                    hover:!text-pink-500">
                    <button
                        class="flex select-none items-center gap-2 rounded-lg py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-pink-500 transition-all hover:bg-pink-500/10 active:bg-pink-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                        type="button" data-ripple-dark="true">
                        Learn More
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                        </svg>
                    </button>
                </button>
            </div>
        </div>
    </div>
    <!-- @if (isAdmin)
    { -->
    <a *ngIf="authService.isAdmin()" (click)=" deleteGuide(guide._id)"
        class="bg-pink-600 text-white hover:bg-pink-700 px-3 py-2 rounded">
        <i class="fa-solid fa-trash"></i>
    </a>
    <!-- } -->
</div>