<div class="bg-pink-600 py-8">
    <div class="container mx-auto px-4">
        <div class="flex justify-center items-center relative">
            <img src="https://cdn.akamai.steamstatic.com/steam/apps/242760/capsule_616x353.jpg?t=1666811027"
                alt="@Model.Name" class="max-w-full h-auto rounded-lg shadow-lg">
            <div class="absolute bottom-0 right-0 mb-4 mr-4 flex space-x-2">
                <form method="post" asp-controller="Game" asp-action="Like">
                    <div>
                        <input type="hidden" name="gameId" value="@Model.Id" />
                    </div>
                    <button name="liked" value="true" type="submit"
                        class="middle none center bg-pink-500 p-2 rounded-full text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-75 focus:shadow-none active:opacity-75 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                        data-ripple-light="true">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </form>
                <form method="post" asp-controller="Game" asp-action="Wish">
                    <div>
                        <input type="hidden" name="gameId" value="@Model.Id" />
                    </div>
                    <button name="wished" value="true" type="submit"
                        class="middle none center bg-pink-500 p-2 rounded-full text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-75 focus:shadow-none active:opacity-75 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                        data-ripple-light="true">
                        <i class="fa-solid fa-star"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto px-4 mt-8 grid grid-cols-2 gap-8">
    <div>
        <h1 class="text-3xl font-bold text-center mb-4">The Forest</h1>
        <p class="text-gray-600">Survive a terrifying open-world experience as you build a shelter, craft weapons, and
            battle against mutated creatures.</p>

        <div class="mt-6">
            <h2 class="text-xl font-semibold mb-2">Details</h2>
            <ul class="list-disc pl-6">
                <li>Release Date: 2014-05-30</li>
                <li>Status: OfficialRelease</li>
                <li>
                    Platform Support:
                    <span class="text-green-500">PC</span>
                    <span class="text-blue-500">PlayStation</span>
                    <span class="text-indigo-500">Xbox</span>
                    <span class="text-red-500">Nintendo</span>
                </li>
                <li>Rating: 53</li>
                <li>Likes: 3</li>
            </ul>
        </div>
    </div>

    <div>
        <div class="mt-6">
            <h2 class="text-xl font-semibold mb-2">Rate this Game</h2>
            <form method="post" asp-controller="Game" asp-action="Rate">
                <div class="mt-2">
                    <label for="rating" class="block text-sm font-medium text-gray-700">Rating (0-100)</label>
                    <input name="rating" type="range" min="0" max="100"
                        class="mt-1 block w-full bg-pink-600 rounded-lg">
                </div>
                <div>
                    <input type="hidden" name="gameId" value="@Model.Id" />
                </div>
                <button type="submit" class="mt-2 bg-pink-600 text-white hover:bg-pink-700 px-3 py-1 rounded">
                    Rate this game
                </button>
                <a asp-action="AllGameReview" asp-controller="Review" asp-route-id="@Model.Id"
                    class="block mt-2 w-full select-none rounded-lg bg-pink-600 py-3.5 px-7 text-center align-middle font-sans text-sm font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                    Show Reviews
                </a>
                <!-- @if (isAdmin)
                { -->
                <app-edit-game-modal />
                <!-- } -->
            </form>
        </div>
    </div>
</div>