<div class="bg-pink-600 py-8">
    <div class="container mx-auto px-4">
        <div class="flex justify-center items-center relative">
            <img src="{{game?.imageUrl}}" class="max-w-full h-auto rounded-lg shadow-lg">
            <div class="absolute bottom-0 right-0 mb-4 mr-4 flex space-x-2">
                <form method="post">
                    <div>
                        <input type="hidden" name="gameId" value="{{game?.id}}" />
                    </div>
                    <button name="liked" value="true" type="submit"
                        class="middle none center bg-pink-500 p-2 rounded-full text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-75 focus:shadow-none active:opacity-75 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                        data-ripple-light="true">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </form>
                <form method="post">
                    <div>
                        <input type="hidden" name="gameId" value="{{game?.id}}" />
                    </div>
                    <button name="wished" value="true" type="submit"
                        class="middle none center bg-pink-500 p-2 rounded-full text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-75 focus:shadow-none active:opacity-75 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                        data-ripple-light="true">
                        <i class="fa-solid fa-star"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto px-4 mt-8 grid grid-cols-2 gap-8">
    <div>
        <h1 class="text-3xl font-bold text-center mb-4">{{game?.name}}</h1>
        <p class="text-gray-600">{{game?.description}}</p>

        <div class="mt-6">
            <h2 class="text-xl font-semibold mb-2">Details</h2>
            <ul class="list-disc pl-6">
                <li>Release Date: {{game?.releaseDate}}</li>
                <li>Status: {{game?.releaseStatusType}}</li>
                <li>
                    Platform Support:
                    <span *ngIf="game?.supportsPC" class="text-green-500">PC </span>
                    <span *ngIf="game?.supportsPS" class="text-blue-500">PlayStation </span>
                    <span *ngIf="game?.supportsXbox" class="text-indigo-500">Xbox </span>
                    <span *ngIf="game?.supportsNintendo" class="text-red-500">Nintendo </span>
                </li>
                <li>Rating: 53</li>
                <li>Likes: 3</li>
            </ul>
        </div>
    </div>

    <div>
        <div class="mt-6">
            <h2 class="text-xl font-semibold mb-2">Rate this Game</h2>
            <form method="post" asp-controller="Game" asp-action="Rate">
                <div class="mt-2">
                    <label for="rating" class="block text-sm font-medium text-gray-700">Rating (0-100)</label>
                    <input name="rating" type="range" min="0" max="100"
                        class="mt-1 block w-full bg-pink-600 rounded-lg">
                </div>
                <div>
                    <input type="hidden" name="gameId" />
                </div>
                <button type="submit" class="mt-2 bg-pink-600 text-white hover:bg-pink-700 px-3 py-1 rounded">
                    Rate this game
                </button>
                <a [routerLink]="['/Reviews/Game', game?._id]"
                    class="block mt-2 w-full select-none rounded-lg bg-pink-600 py-3.5 px-7 text-center align-middle font-sans text-sm font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                    Show Reviews
                </a>
                <!-- @if (isAdmin)
                { -->
                <app-edit-game-modal />
                <!-- } -->
            </form>
        </div>
    </div>
</div>