<div
    class="relative flex w-full max-w-[26rem] basis-1/3 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg m-4">
    <div
        class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-pink-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40">
        <img [src]="game.imageUrl" alt="ui/ux review check" />
        <div
            class="to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-tr from-transparent via-transparent to-black/60">
        </div>
    </div>
    <div class="p-6">
        <div class="mb-3 flex items-center justify-between">
            <h5
                class="truncate block font-sans text-xl font-medium leading-snug tracking-normal text-pink-gray-900 antialiased">
                {{game.name}}
            </h5>
            <p
                class="flex items-center gap-1.5 font-sans text-base font-normal leading-relaxed text-pink-gray-900 antialiased">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                    class="-mt-0.5 h-5 w-5 text-yellow-400">
                    <path fill-rule="evenodd"
                        d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                        clip-rule="evenodd"></path>
                </svg>
                53
            </p>
        </div>
        <p class="truncate block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
            {{game.description}}
        </p>
        <div class="group mt-8 inline-flex flex-wrap items-center gap-3">

            <span *ngIf="game.supportsPC" data-tooltip-target="pc"
                class="cursor-pointer rounded-full border border-pink-500/5 bg-pink-500/5 p-3 text-pink-500 transition-colors hover:border-pink-500/10 hover:bg-pink-500/10 hover:!opacity-100 group-hover:opacity-70">
                <i class="fa-solid fa-desktop"></i>
            </span>

            <span *ngIf="game.supportsPS" data-tooltip-target="pc"
                class="cursor-pointer rounded-full border border-pink-500/5 bg-pink-500/5 p-3 text-pink-500 transition-colors hover:border-pink-500/10 hover:bg-pink-500/10 hover:!opacity-100 group-hover:opacity-70">
                <i class="fa-brands fa-playstation"></i>
            </span>

            <span *ngIf="game.supportsXbox" data-tooltip-target="pc"
                class="cursor-pointer rounded-full border border-pink-500/5 bg-pink-500/5 p-3 text-pink-500 transition-colors hover:border-pink-500/10 hover:bg-pink-500/10 hover:!opacity-100 group-hover:opacity-70">
                <i class="fa-brands fa-xbox"></i>
            </span>

            <span *ngIf="game.supportsNintendo" data-tooltip-target="pc"
                class="cursor-pointer rounded-full border border-pink-500/5 bg-pink-500/5 p-3 text-pink-500 transition-colors hover:border-pink-500/10 hover:bg-pink-500/10 hover:!opacity-100 group-hover:opacity-70">
                <i class="fa-solid fa-gamepad"></i>
            </span>

        </div>
    </div>
    <div class="p-6 pt-3">
        <button (click)="getGameDetails(game._id)"
            class="block w-full select-none rounded-lg bg-pink-500 py-3.5 px-7 text-center align-middle font-sans text-sm font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button" data-ripple-light="true">
            Details
        </button>
    </div>
    <button (click)="deleteGame(game._id)" class="bg-pink-600 text-white hover:bg-pink-700 px-3 py-2 rounded">
        <i class="fa-solid fa-trash"></i>
    </button>
    <!-- @if (isAdmin)
    {
    } -->
</div>