<div class="bg-gray-100 h-screen flex flex-col">
    <main class="flex-grow p-4 overflow-y-auto">
        <ul class="list-unstyled space-y-4" id="messagesList">
            <!-- Messages will be displayed here -->
        </ul>
    </main>
    <footer class="bg-white p-4">
        <form>
            <button type="button" class="bg-pink-600 text-white px-4 py-2 rounded" id="sendButton"
                (click)="sendMessage()">Send</button>
            <!-- Assuming discussionId is passed to the component -->
            <input type="text" id="discussionInput" [value]="discussionId" disabled class="form-control mb-3" />
            <input type="text" id="messageInput" [(ngModel)]="newMessageContent"
                class="form-control mb-3 w-full border rounded p-2" placeholder="Type your message..." />

        </form>
    </footer>
</div>