<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Discussions</title>
</head>

<body>
    <div class="container">
        <div class="flex justfiy-center w-full">
            <div class="my-4">
                <a [routerLink]="['/Discussion/Create']"
                    class="bg-pink-600 text-white py-2 px-4 rounded-md hover:bg-pink-700">Create Discussion</a>
            </div>
        </div>
        <!-- @if (Model.ViewModels.Count > 0)
        { -->
        <div class="flex flex-col-reverse h-full">
            <!-- <partial name="_PaginationPartial" model="@Model.PageViewModel" /> -->
        </div>
        <div *ngFor="let discussion of discussions" class="w-full flex flex-row flex-wrap justify-content-center">
            <app-discussion-item [discussion]="discussion" />
        </div>
        <!-- }
        else
        { -->
        <!-- <p>There are no Discussions available.</p> -->
        <!-- } -->
    </div>
</body>

</html>