<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Discussions</title>
</head>

<body>
    <div class="container">
        <div class="flex justfiy-center w-full">
            <div class="my-4">
                <a href="/Discussion/CreateNew"
                    class="bg-pink-600 text-white py-2 px-4 rounded-md hover:bg-pink-700">Create Discussion</a>
            </div>
        </div>
        <!-- @if (Model.ViewModels.Count > 0)
        { -->
        <div class="flex flex-col-reverse h-full">
            <!-- <partial name="_PaginationPartial" model="@Model.PageViewModel" /> -->
        </div>
        <div class="w-full flex flex-row flex-wrap justify-content-center">
            <!-- @foreach (var viewModel in Model.ViewModels)
            {
            <partial name="_DiscussionPartial" model="viewModel" />
            } -->
            <app-discussion-item />
            <app-discussion-item />
            <app-discussion-item />
        </div>
        <!-- }
        else
        { -->
        <p>There are no Discussions available.</p>
        <!-- } -->
    </div>
</body>

</html>